1. 첨부한 파일을 불러오세요.(CCTV.csv)
2. 상위 5개의 데이터만 불러오세요.
3. 상위 3개의 데이터만 불러오세요.
4. 칼럼명만 출력하세요

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/CCTV.csv', sep='\t')

In [5]:
df.head()

   구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
0  강남구,2780,150.61919504643964,570500.0,565550.0,...
1  강동구,773,166.49076517150397,453233.0,449019.0,4...
2  강북구,748,125.20325203252031,330192.0,326686.0,3...
3  강서구,884,134.7938144329897,603772.0,597248.0,65...
4  관악구,1496,149.29078014184398,525515.0,507203.0,...

In [6]:
df.head(3)

   구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
0  강남구,2780,150.61919504643964,570500.0,565550.0,...
1  강동구,773,166.49076517150397,453233.0,449019.0,4...
2  강북구,748,125.20325203252031,330192.0,326686.0,3...

In [8]:
df.columns

Index(['구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차'], dtype='object')